.dashboard {
  display: flex;
  gap: 8px;

  &-container {
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 30px);
    width: 100%;
  }

  &-tracks {
   flex: 1;
  }

  &-form {
    margin-bottom: 24px;
  }

  &-input {
    height: 40px;
    width: 100%;
    background-color: $colorLightMint;
    outline: none;
    padding: 0 16px;
    border-color: $colorDelftBlue;
    border-style: dashed;
    font-family: 'Open Sans', sans-serif;
    color: $colorDelftBlue;
    text-shadow: -1px -1px 0 $colorYellow, 1px -1px 0 $colorYellow, -1px 1px 0 $colorYellow, 1px 1px 0 $colorYellow;
    font-weight: 540;
    font-size: 18px;

    &::placeholder {
      text-shadow: none;
    }
  }
}

.track-lyrics-container {
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-lyrics {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: $colorDelftBlue;
  max-width: 800px;
  padding: 20px;
}


.search {
  &-container {
    display: flex;
    padding: 30px;
    gap: 44px;
  }

  &-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 48px;
    color: $colorDelftBlue;
  }

  &-illustration {
    height: 410px;
    width: 410px;
  }
}