.react-tel-input {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  position: relative;
  width: 100%;
}

.react-tel-input :disabled {
  cursor: not-allowed;
}

.flag {
  width: 25px;
  height: 20px;
  background-image: url("https://raw.githubusercontent.com/bl00mber/react-phone-input-2/master/src/style/common/high-res.png");
  background-repeat: no-repeat;
}

.ua {
  background-position: -120px -336px;
}

.us {
  background-position: -168px -336px;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
  height: 30px;
  width: 120px;
}