@import '_vars.scss';
@import './login.scss';
@import '_fonts.scss';
@import './dashboard.scss';
@import './track.scss';
@import './player.scss';
@import './sidebar.scss';
@import './theme-toggle.scss';
@import './language-toggle.scss';
@import './header.scss';

body {
  background-color: $colorLightMint;
  margin: 0;
  display: block;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}