@import '_vars.scss';
@import './login.scss';
@import '_fonts.scss';
@import './dashboard.scss';
@import './track.scss';
@import './player.scss';

body {
  background-color: $colorLightMint;
  margin: 1;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}